li {
    list-style-type: lower-roman;
    font-weight: normal;
}

.add {
    list-style-type: upper-roman;
}

ul {
    width: 350px;
}

.weig {
    font-weight: bold;
}

div {
    font-family: 'Courier Prime', monospace;
    width: 400px;
    max-height: 70px; 
    background-color: black;
    color: green;
    overflow: auto;
}